* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}
  
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
  
.section-p1 {
    padding: 40px 80px;
}
  
.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-weight: 600;
    font-size: 14px;
    padding: 15px 30px ;
    color: #fff;
    background-color: #333;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-weight: 600;
    font-size: 13px;
    padding: 11px 18px ;
    color: #000;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #000;
    outline: none;
    transition: 0.2s;
}

  
body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 55px;
    background-color: rgba(44, 59, 64, 0.06);
    box-shadow: 0 10px 10px rgba(7, 72, 96, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: green;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: rgb(134, 123, 123);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero {
    background-image: url("images/woman.webp");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h2{
    padding-bottom: 12px;
}

#hero p{
    color: rgb(0, 0, 0);
}

#hero button{
    background-image: url("images/black.jpg");
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0;
    padding: 14px 50px 14px 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    border-radius: 12px;
}

#features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#features .fe-box{
    width: 220px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 2px  solid #f7f5ed;
    border-radius: 4px;
    margin: 15px 0;
    cursor: pointer;
}

#features .fe-box:hover{
    box-shadow: 10px 10px 54px rgb(203, 195, 190);
}

#features .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#features .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: rgb(117, 188, 188);
    background-color: #f7f5ed;   
}

#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: left;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #000;
    font-size: 16px;
}

#product1 .pro .des p{
    color: #465b52;
    padding-top: 7px;
    font-size: 14x;
}

#product1 .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h6{
    padding-top: 7px;
    font-size: 12px;
    color: #088178;
}

#product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-image: url();
    height: 40vh;
    background-position: center;
    background-size: center;
}

#banner h4{
    padding: 10px 20px;
    color: #465b52;
    font-size: 20px;
}

#banner h2{
    padding: 8px 20px;
    font-size: 30px;
}

#banner h2 span{
    color:  #000;
}

#banner button:hover{
    background: rgb(0, 0, 0);
    color: #000;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(background.jpg);
    min-width: 600px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(background.jpg);
    min-width: 600px;
    height: 50vh;
    background-position: center;
    background-size: cover;
    padding: 30px;
}

#sm-banner h3{
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner p{
    text-align: left;
    color: #a89d9d;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

#sm-banner .banner-box2:hover button{
    background-color: #9fa324;
    border: 1px solid #9fa324;
}

footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    color: #ffffff;
}





